@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {
  background-color: #f4f7f8;
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #333;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

.modal-dialog-centered {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  height: calc(100% - (.5rem * 2));
}

@media (min-width:576px) {
  .modal-dialog-centered {
    height: calc(100% - (1.75rem * 2));
  }
}

.label-position {
  position: relative;
  top: 0.4em;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  max-width: 1em;
}

.ui-sortable-helper {
  display: table;
  border:solid 1px #ddd;
  opacity: 0.6;
}

.trash {
  width:18px;
}

.icon-position {
  position: relative;
  top: 0.1em;
}
